body{
    font-family: 'Merriweather', serif;
}
header{
    color:white;
    background-color:#2f2f2f;
    width: auto;
    height: auto;
    overflow: auto;
}
.texture{
    background: #2f2f2f url('../assets/images/tweed.png') repeat top left;
    padding: 20px 0;
    margin: 0;
}
.headerTop{
    font-size: 22px;
    padding: 10px 0;
}
.headline{
    text-align: right;
}
.headline h1{
    font-size: 36px;
}
.headerBottom{
    padding: 10px 0;
    font-size: 16px;
}
h3{
    font-weight: 600;
}
.leftColumn p{
    line-height: 1.9;
}
form{
    border: 10px white solid;
    outline: 1px black solid;
    background: #d8f6ff;
    padding: 20px 10px;
    margin-bottom: 20px;

}
.formHeader{
    padding:10px;
    background: black;
    color:white;
    text-align: center;
    font-size: 16px;
}
.formBody{
    padding-top:5px;
    text-align: center;
}
.formem{
    padding: 10px 0;
    text-align: center;
}
input[type="submit"]{
    background-color: red;
    height: 60px;
    font-size: 16px;
    text-transform: uppercase;
    
}
input[type="submit"]:hover{
    color:white;
    background-color: red;
    height: 60px;
    font-size: 16px;
    text-transform: uppercase;
}
.quote{
    background: url('../assets/images/quote.png') no-repeat right top;
    background-size: 50px 50px;
    border-bottom: solid lightgray 1px;
    padding: 20px 70px 20px 0 ;
    text-align:left;
    background-position: right;
    font-size: 16px;
    margin-top:30px;
}
.container-fluid{
    padding:0px;
}
img{
    width:100%;
}
.rightColumn{
    position: absolute;
    top: 40%;
    right: 10%;
}
.leftColumn{
    margin: 60px 0;
}

